extends layout

block content

    #bodydiv(style='height:100%;width:100%;')
        core-header-panel
            core-toolbar.medium
                p#qiheader Qi
                div(flex='', horizontal='', layout='')
                paper-icon-button#searchiconbutton(icon='search')
                paper-icon-button#moreiconbutton(icon='more-vert')
                .bottom.fit(horizontal='', layout='')
                    paper-tabs#tabs(selected='0', flex='', style='max-width: 300px;', noink='', self-end='')
                        paper-tab#logintab Login
                        paper-tab#registertab Register
                        paper-tab#abouttab About us
            .container(layout='', vertical='', center='')
            center
                div(style='height:100px')
                #panelcontainer
                #errorDiv
<<<<<<< HEAD
=======
            //paper-dialog(heading='lel', opened='true' transition='core-transition-center')
                  //p Lorem ipsum ....
                  //paper-button(label='Accept', affirmative='', autofocus='')
>>>>>>> master
