<html>
<head>
  <meta charset="utf8" />
  <title>Qi</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>-->
  <script src="/bower_components/angular-aria/angular-aria.js"></script>

  <script src="/jquery/jquery.js"></script>
  <script src="/jquery/jquery-ui/jquery-ui.js"></script>
  <script src="/bower_components/hammerjs/hammer.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>

  <!-- default themes and core styles -->
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">

  <!-- extra, overriding theme files -->
  <link rel="stylesheet" href="/bower_components/angular-material/themes/pink-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/orange-theme.css">

  <script src="/javascripts/ajax.js"></script>
  <script src="/javascripts/clickh.js"></script>
  <script src="/javascripts/bg.js"></script>
  <script src="/javascripts/startscript.js"></script>
  <script src="/javascripts/registration.js"></script>
  <script src="/javascripts/info.js"></script>

  <script>
    angular.module('qiApp', [ 'ngMaterial' ]);

    $(document).ready(function() {
      //click listeners for tabs in clickh.js
      //setClickListeners();

      //start method in startscript.js
      start();

      formwrapper_launch();
    });
  </script>
</head>
<body>
    <div ng-app="qiApp" layout="column">

      <!-- The md-toolbar and all of its children will use the indigo theme -->
      <md-toolbar md-theme="pink" md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span id="headertitle">Qi</span>
          </h3>
        </div>
      </md-toolbar>

      <md-whiteframe id="panelframe" class="md-whiteframe-z2" layout-align="center center">
        <div id="form_wrapper" class="form_wrapper">
          <!--<md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">-->
            <form class="registration">

              <h3 class="panelheader">Register</h3>
              <md-content>
                <md-text-float type="text" ng-model="registeremailpseudo" label="email/pseudo" class="long"></md-text-float>
                <md-text-float type="text" ng-model="registername" label="name" class="long"></md-text-float>
                <md-text-float type="text" ng-model="registerpseudo" label="pseudo (optional)" class="long"></md-text-float>
                <md-text-float type="password" ng-model="registerpw" label="password" class="long"></md-text-float>
                <md-text-float type="password" ng-model="registerpwr" label="repeat password" class="long"></md-text-float>
              </md-content>

              <div class="bottom">
                <!--<div class="remember">
                  <md-checkbox>Remember password?</md-checkbox>
                </div>-->
                <a href="/" rel="login" class="linkform" style="margin-top:20px;">
                  You already have an account? Log in here
                </a>
                <md-button class="md-fab md-primary" md-theme="pink" aria-label="Create my account" style="margin-left: 340px;">
                  <md-icon icon="/images/icons/check52.svg" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
              </div>
            </form>


            <form class="login active">
              <h3 class="panelheader">Login</h3>
              <md-content>
                <md-text-float type="text" ng-model="loginemailpseudo" label="email/pseudo" class="long"></md-text-float>
                <md-text-float type="text" ng-model="loginpw" label="password" class="long"></md-text-float>
              </md-content>

              <div class="bottom">
                <div class="remember">
                  <md-checkbox>Remember password?</md-checkbox>
                </div>
                <a href="/" rel="registration" class="linkform" style="margin-top:20px;">
                  You don't have an account yet? Register here
                </a>
                <md-button class="md-fab md-primary" md-theme="pink" aria-label="Log me in" style="margin-left: 340px; margin-bottom: 10px">
                  <md-icon icon="/images/icons/check52.svg" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
              </div>
            </form>
          <!--</md-whiteframe>-->
        </div>
      </md-whiteframe>
    </div>
  </body>
</html>