html
  head
    meta(charset='utf8')
    title Qi
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/components/angular/angular.js')
    script(src='/components/jquery/jquery.js')
    script(src='/components/jquery/jquery-ui/jquery-ui.js')
    link(rel='stylesheet', href='/components/bootstrap/bootstrap_paper.css')

    // private javascript files
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/bg.js')
    script(src='/javascripts/startscript.js')
    script(src='/javascripts/registration.js')
    script(src='/javascripts/info.js')
    script(src='/javascripts/welcome/welcome.js')

    script.
        $(document).ready(function() {
            start();
        });       

  body
    block content