html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-color: #E5E5E5;*/
  /*background-image:url("http://imgur.com/OTfm92s.jpg");*/
  font-family: 'RobotoDraft', sans-serif;
}

#bgvideo{
  width: 100%;
  height: auto;
}

/* MATERIAL DESIGN */
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #ffffff;/*#03a9f4;*/ /*#FE2E9A;*/
  color: black;
}

#tabs {
  /*bottomline color in /components/paper-tabs/paper-tabs.css*/
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* MATERIAL DESIGN END */

.container {
  width: 80%;
  margin: 50px auto;
}
@media (min-width: 481px) {
  #tabs { /*tabs in the top panel*/
    width: 200px;
  }
  .container /**/ {
    width: 400px;
  }

  #qiheader{ /*<p> in the top panel*/
    margin: 1em;
    position: center;
    font-size: 26px;
  }


  #panelcontainer{ /*div container for login, registration and about panel*/
    width: 450px;
    height: 195px;
    background: #ffffff;
  }

  paper-button{ /*all paper-buttons*/
    margin: 1em;
    width: 10em;
    color: #ffffff;
  }

  /* Login elements */
  #emailinput{ /*input for email; login and register*/
    margin: 1em;
  }

  #loginfab{ /*login button*/
    margin-top: 15px;
    background: #e91e63;
  }
  /* Login elements end */

  #errorDiv{ /*div for showing errors and success messages*/
    margin: 2em;
  }

  #tabs{ /*tabs in the top panel*/
    margin-left: 5em;
  }

  /* register_name.txt */
  .regnextbuttons{ /*register button*/
    margin-top: 5px;
    background: #5677fc;
    color: #ffffff;
  }
  /* Registration elements */
}